body {
  font-size: 16px;
  line-height: 1;
}

.navbar-brand {
  text-align: center;
  height: 75px;
  background-image: linear-gradient(to right, rgb(88, 88, 252) , rgb(6, 6, 87));
  color: white;
  width:100%;
  margin-right: 0;
}

#weatherTitle {
  font-family: 'Suez One', serif;
  margin-top: 2px;
}

.saveBtn {
  background-color: #06aed5;
  color: white;
  border-radius:5px;
  margin-top: 5px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.errorMessage {
  margin: 10px;
  text-align: center;
}

.city {
  padding: 4px 0px;
  background-color:rgb(95, 84, 124);
  margin: 5px 0px;
}

.weather1 {
  margin-left: -15px;
  margin-right: 2px;
}

.currentWeather {
  border: 1px solid black;
  margin-right: -0px;
}

#currentUV {
  color: white;
  border-radius: 5px;
  padding: 0px 2px;
}

.low {
  background-color: rgb(8, 134, 14);
  
}

.low-medium {
  background-color: rgb(209, 212, 10);
}

.medium {
  background-color: rgb(212, 91, 10);
}

.medium-high {
  background-color: rgb(212, 10, 10);
}

.high {
  background-color: rgb(67, 42, 151);
}

.weather2 {
  margin-left: -20px;
  margin-top: 10px;
}

.weather3 {
  margin-left: -15px;
  width:auto;
}

.card {
  color: white;
  background-color: rgb(8, 8, 92);
  flex: 1;
}

.show {
  display: block;
}

.hide {
  display: none;
}