body {
  font-size: 16px;
  line-height: 1;
}

.navbar-brand {
  text-align: center;
  height: 75px;
  background-image: linear-gradient(to right, rgb(88, 88, 252) , rgb(6, 6, 87));
  color: white;
  width:100%;
}

h2 {
}

.saveBtn {
  background-color: #06aed5;
  color: white;
  border-radius:5px;
  margin-top: 5px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.currentWeather {
  border: 1px solid black;
}

.card {
  color: white;
  background-color: rgb(8, 8, 92);
}